.datePicker {
  border-radius: 5px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  margin: 0px 20px 20px 20px;
  height: 32px;
  width: 205px;
}

input[type="date"] {
  text-align: right;
}

input[type="date"]:before {
  color: rgba(114, 114, 114, 0.902);
  content: attr(placeholder) !important;
}
